.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-family: var(--font-primary);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 3px 5px rgba(var(--foreground-rgb), 0.9);
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-left: 16px;
}

.menuItem a {
  font-size: 16px;
  text-decoration: none;
}
